/* основний колір тексту #212121 */
/* додатковий колір тексту #757575 */
/* акцент #2196F3 */
/* білий #FFFFFF */
/* основний колір фону #FFFFFF */
/* додатковий колір фону герой та футер #2F303A */
/* додатковий колір фону наша команда #F5F4FA  */
/* мейл та моб в футері rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --button-active-bg-color: #188CE8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* HEADER */
/* logo */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.second-logo {
  color: #000000;
}

ul {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* site-contact */

.site-contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Стилі для index.html */
/* MAIN */
/* hero */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--button-active-bg-color)
}

/* section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Особливості */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Чим ми займаємось */

/* Наша команда */

.section-team {
  background-color: var(--team-bg-color);
}

.section-team .card {
  background-color: var(--primary-bg-color);
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.team-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

/* FOOTER */

.section-footer {
  background-color: var(--secondary-bg-color);
}

.logo-studio {
  color: var(--primary-white-color);
}

.address-list .link {
  color: var(--address-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-list .link.map {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

/* Стилі для сторінки Портфоліо */

.button-filter {
  color: var(--title-text-color);
  background: var(--team-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.list-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

